$flags: (
  ad: -48px 0,
  ae: -96px 0,
  af: -144px 0,
  ag: -192px 0,
  ai: -240px 0,
  al: -288px 0,
  am: -336px 0,
  an: -384px 0,
  ao: -432px 0,
  ar: -480px 0,
  as: -528px 0,
  at: -576px 0,
  au: -624px 0,
  aw: -672px 0,
  ax: -720px 0,
  az: 0 -48px,
  ba: -48px -48px,
  bb: -96px -48px,
  bd: -144px -48px,
  be: -192px -48px,
  bf: -240px -48px,
  bg: -288px -48px,
  bh: -336px -48px,
  bi: -384px -48px,
  bj: -432px -48px,
  bl: -480px -48px,
  bm: -528px -48px,
  bn: -576px -48px,
  bo: -624px -48px,
  br: -672px -48px,
  bs: -720px -48px,
  bt: 0 -96px,
  bw: 48px -96px,
  by: -96px -96px,
  bz: -144px -96px,
  ca: -192px -96px,
  cd: -240px -96px,
  cf: -288px -96px,
  cg: -336px -96px,
  ch: -384px -96px,
  ci: -432px -96px,
  ck: -480px -96px,
  cl: -528px -96px,
  cm: -576px -96px,
  cn: -624px -96px,
  co: -672px -96px,
  cr: -720px -96px,
  cu: 0 -144px,
  cv: -48px -144px,
  cw: -96px -144px,
  cy: -144px -144px,
  cz: -192px -144px,
  de: -240px -144px,
  dj: -288px -144px,
  dk: -336px -144px,
  dm: -384px -144px,
  do: -432px -144px,
  dz: -480px -144px,
  ec: -528px -144px,
  ee: -576px -144px,
  eg: -624px -144px,
  eh: -672px -144px,
  er: -720px -144px,
  es: 0 -192px,
  et: -48px -192px,
  eu: -96px -192px,
  fi: -144px -192px,
  fj: -192px -192px,
  fk: -240px -192px,
  fm: -288px -192px,
  fo: -336px -192px,
  fr: -384px -192px,
  ga: -432px -192px,
  gb: -480px -192px,
  gd: -528px -192px,
  ge: -576px -192px,
  gg: -624px -192px,
  gh: -672px -192px,
  gi: -720px -192px,
  gl: 0 -240px,
  gm: -48px -240px,
  gn: -96px -240px,
  gq: -144px -240px,
  gr: -192px -240px,
  gs: -240px -240px,
  gt: -288px -240px,
  gu: -336px -240px,
  gw: -384px -240px,
  gy: -432px -240px,
  hk: -480px -240px,
  hn: -528px -240px,
  hr: -576px -240px,
  ht: -624px -240px,
  hu: -672px -240px,
  ic: -720px -240px,
  id: 0 -288px,
  ie: -48px -288px,
  il: -96px -288px,
  im: -144px -288px,
  in: -192px -288px,
  iq: -240px -288px,
  ir: -288px -288px,
  is: -336px -288px,
  it: -384px -288px,
  je: -432px -288px,
  jm: -480px -288px,
  jo: -528px -288px,
  jp: -576px -288px,
  ke: -624px -288px,
  kg: -672px -288px,
  kh: -720px -288px,
  ki: 0 -336px,
  km: -48px -336px,
  kn: -96px -336px,
  kp: -144px -336px,
  kr: -192px -336px,
  kw: -240px -336px,
  ky: -288px -336px,
  kz: -336px -336px,
  la: -384px -336px,
  lb: -432px -336px,
  lc: -480px -336px,
  li: -528px -336px,
  lk: -576px -336px,
  lr: -624px -336px,
  ls: -672px -336px,
  lt: -720px -336px,
  lu: 0 -384px,
  lv: -48px -384px,
  ly: -96px -384px,
  ma: -144px -384px,
  mc: -192px -384px,
  md: -240px -384px,
  me: -288px -384px,
  mf: -336px -384px,
  mg: -384px -384px,
  mh: -432px -384px,
  mk: -480px -384px,
  ml: -528px -384px,
  mm: -576px -384px,
  mn: -624px -384px,
  mo: -672px -384px,
  mp: -720px -384px,
  mq: 0 -432px,
  mr: -48px -432px,
  ms: -96px -432px,
  mt: -144px -432px,
  mu: -192px -432px,
  mv: -240px -432px,
  mw: -288px -432px,
  mx: -336px -432px,
  my: -384px -432px,
  mz: -432px -432px,
  na: -480px -432px,
  nc: -528px -432px,
  ne: -576px -432px,
  nf: -624px -432px,
  ng: -672px -432px,
  ni: -720px -432px,
  nl: 0 -480px,
  no: -48px -480px,
  np: -96px -480px,
  nr: -144px -480px,
  nu: -192px -480px,
  nz: -240px -480px,
  om: -288px -480px,
  pa: -336px -480px,
  pe: -384px -480px,
  pf: -432px -480px,
  pg: -480px -480px,
  ph: -528px -480px,
  pk: -576px -480px,
  pl: -624px -480px,
  pn: -672px -480px,
  pr: -720px -480px,
  ps: 0 -528px,
  pt: -48px -528px,
  pw: -96px -528px,
  py: -144px -528px,
  qa: -192px -528px,
  ro: -240px -528px,
  rs: -288px -528px,
  ru: -336px -528px,
  rw: -384px -528px,
  sa: -432px -528px,
  sb: -480px -528px,
  sc: -528px -528px,
  sd: -576px -528px,
  se: -624px -528px,
  sg: -672px -528px,
  sh: -720px -528px,
  si: 0 -576px,
  sk: -48px -576px,
  sl: -96px -576px,
  sm: -144px -576px,
  sn: -192px -576px,
  so: -240px -576px,
  sr: -288px -576px,
  ss: -336px -576px,
  st: -384px -576px,
  sv: -432px -576px,
  sy: -480px -576px,
  sz: -528px -576px,
  tc: -576px -576px,
  td: -624px -576px,
  tf: -672px -576px,
  tg: -720px -576px,
  th: 0 -624px,
  tj: -48px -624px,
  tk: -96px -624px,
  tl: -144px -624px,
  tm: -192px -624px,
  tn: -240px -624px,
  to: -288px -624px,
  tr: -336px -624px,
  tt: -384px -624px,
  tv: -432px -624px,
  tw: -480px -624px,
  tz: -528px -624px,
  ua: -576px -624px,
  ug: -624px -624px,
  us: -672px -624px,
  uy: -720px -624px,
  uz: 0 -672px,
  va: -48px -672px,
  vc: -96px -672px,
  ve: -144px -672px,
  vg: -192px -672px,
  vi: -240px -672px,
  vn: -288px -672px,
  vu: -336px -672px,
  wf: -384px -672px,
  ws: -432px -672px,
  ye: -480px -672px,
  yt: -528px -672px,
  za: -576px -672px,
  zm: -624px -672px,
  zw: -672px -672px
);

.flag {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url('./flags.png') no-repeat;

  &.flag-medium {
    zoom: 0.6;
  }

  &.flag-small {
    zoom: 0.4;
  }

  @each $code, $position in $flags {
    &.flag-#{$code} {
        background-position: $position
    }
  }

  /* -moz-transform-origin: 0 0;
  transform-origin: 0% */
}