
$flag-size: 48px;

$flags: (
  ad: 1 0,
  ae: 2 0,
  af: 3 0,
  ag: 4 0,
  ai: 5 0,
  al: 6 0,
  am: 7 0,
  an: 8 0,
  ao: 9 0,
  ar: 10 0,
  as: 11 0,
  at: 12 0,
  au: 13 0,
  aw: 14 0,
  ax: 15 0,
  az: 0 1,
  ba: 1 1,
  bb: 2 1,
  bd: 3 1,
  be: 4 1,
  bf: 5 1,
  bg: 6 1,
  bh: 7 1,
  bi: 8 1,
  bj: 9 1,
  bl: 10 1,
  bm: 11 1,
  bn: 12 1,
  bo: 13 1,
  br: 14 1,
  bs: 15 1,
  bt: 0 2,
  bw: 1 2,
  by: 2 2,
  bz: 3 2,
  ca: 4 2,
  cd: 5 2,
  cf: 6 2,
  cg: 7 2,
  ch: 8 2,
  ci: 9 2,
  ck: 10 2,
  cl: 11 2,
  cm: 12 2,
  cn: 13 2,
  co: 14 2,
  cr: 15 2,
  cu: 0 3,
  cv: 1 3,
  cw: 2 3,
  cy: 3 3,
  cz: 4 3,
  de: 5 3,
  dj: 6 3,
  dk: 7 3,
  dm: 8 3,
  do: 9 3,
  dz: 10 3,
  ec: 11 3,
  ee: 12 3,
  eg: 13 3,
  eh: 14 3,
  er: 15 3,
  es: 0 4,
  et: 1 4,
  eu: 2 4,
  fi: 3 4,
  fj: 4 4,
  fk: 5 4,
  fm: 6 4,
  fo: 7 4,
  fr: 8 4,
  ga: 9 4,
  gb: 10 4,
  gd: 11 4,
  ge: 12 4,
  gg: 13 4,
  gh: 14 4,
  gi: 15 4,
  gl: 0 5,
  gm: 1 5,
  gn: 2 5,
  gq: 3 5,
  gr: 4 5,
  gs: 5 5,
  gt: 6 5,
  gu: 7 5,
  gw: 8 5,
  gy: 9 5,
  hk: 10 5,
  hn: 11 5,
  hr: 12 5,
  ht: 13 5,
  hu: 14 5,
  ic: 15 5,
  id: 0 6,
  ie: 1 6,
  il: 2 6,
  im: 3 6,
  in: 4 6,
  iq: 5 6,
  ir: 6 6,
  is: 7 6,
  it: 8 6,
  je: 9 6,
  jm: 10 6,
  jo: 11 6,
  jp: 12 6,
  ke: 13 6,
  kg: 14 6,
  kh: 15 6,
  ki: 0 7,
  km: 1 7,
  kn: 2 7,
  kp: 3 7,
  kr: 4 7,
  kw: 5 7,
  ky: 6 7,
  kz: 7 7,
  la: 8 7,
  lb: 9 7,
  lc: 10 7,
  li: 11 7,
  lk: 12 7,
  lr: 13 7,
  ls: 14 7,
  lt: 15 7,
  lu: 0 8,
  lv: 1 8,
  ly: 2 8,
  ma: 3 8,
  mc: 4 8,
  md: 5 8,
  me: 6 8,
  mf: 7 8,
  mg: 8 8,
  mh: 9 8,
  mk: 10 8,
  ml: 11 8,
  mm: 12 8,
  mn: 13 8,
  mo: 14 8,
  mp: 15 8,
  mq: 0 9,
  mr: 1 9,
  ms: 2 9,
  mt: 3 9,
  mu: 4 9,
  mv: 5 9,
  mw: 6 9,
  mx: 7 9,
  my: 8 9,
  mz: 9 9,
  na: 10 9,
  nc: 11 9,
  ne: 12 9,
  nf: 13 9,
  ng: 14 9,
  ni: 15 9,
  nl: 0 10,
  no: 1 10,
  np: 2 10,
  nr: 3 10,
  nu: 4 10,
  nz: 5 10,
  om: 6 10,
  pa: 7 10,
  pe: 8 10,
  pf: 9 10,
  pg: 10 10,
  ph: 11 10,
  pk: 12 10,
  pl: 13 10,
  pn: 14 10,
  pr: 15 10,
  ps: 0 11,
  pt: 1 11,
  pw: 2 11,
  py: 3 11,
  qa: 4 11,
  ro: 5 11,
  rs: 6 11,
  ru: 7 11,
  rw: 8 11,
  sa: 9 11,
  sb: 10 11,
  sc: 11 11,
  sd: 12 11,
  se: 13 11,
  sg: 14 11,
  sh: 15 11,
  si: 0 12,
  sk: 1 12,
  sl: 2 12,
  sm: 3 12,
  sn: 4 12,
  so: 5 12,
  sr: 6 12,
  ss: 7 12,
  st: 8 12,
  sv: 9 12,
  sy: 10 12,
  sz: 11 12,
  tc: 12 12,
  td: 13 12,
  tf: 14 12,
  tg: 15 12,
  th: 0 13,
  tj: 1 13,
  tk: 2 13,
  tl: 3 13,
  tm: 4 13,
  tn: 5 13,
  to: 6 13,
  tr: 7 13,
  tt: 8 13,
  tv: 9 13,
  tw: 10 13,
  tz: 11 13,
  ua: 12 13,
  ug: 13 13,
  us: 14 13,
  uy: 15 13,
  uz: 0 14,
  va: 1 14,
  vc: 2 14,
  ve: 3 14,
  vg: 4 14,
  vi: 5 14,
  vn: 6 14,
  vu: 7 14,
  wf: 8 14,
  ws: 9 14,
  ye: 10 14,
  yt: 11 14,
  za: 12 14,
  zm: 13 14,
  zw: 14 14
);

@mixin get-position($position) {
  background-position: (nth($position, 1) * (-1) * $flag-size) (nth($position, 2) * (-1) * $flag-size)
}

.flag {
  display: inline-block;
  width: $flag-size;
  height: $flag-size;
  background: url('./flags.png') no-repeat;

  &.flag-size-medium {
    zoom: 0.6;
  }

  &.flag-size-small {
    zoom: 0.4;
  }

  @each $code, $position in $flags {
    &.flag-#{$code} {
      @include get-position($position)
    }
  }

  /* -moz-transform-origin: 0 0;
  transform-origin: 0% */
}